body {
    font-family:"Lucida Console", Monaco, monospace;
    background: #ddd;
    margin:40px auto;
    max-width:80%;
    line-height:1.6;
    font-size:18px;
    padding:0 10px;
}

@media (max-width: 800px) {
    body {
        max-width:97%;
    }
}

/*@media (min-width: 1300px) {
    body {
        max-width:50%;
    }
}
*/
body * {
    font-family:"Lucida Console", Monaco, monospace;
    line-height:1.2;
    color:#333;
}

h1,h2,h3{line-height:1.2;}

.title {
    text-align: center;
}

table {
    border-spacing: 1px;
}

textarea {
    font-size: 1rem;
    width: 100%;
    height: 150px;
}

#grid {
    position: absolute;
 /*   width: 100%;
    height: 100%;*/
    /*display: inline-block;*/
    display: block;
}

#grid-overlay {
    position: relative;
    border: 2px solid black;
    display: inline-block;
}

#presets * {
    font-size: 0.8em;
    margin: 0.3em;
}

.hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.unselected {
    background-color: rgba(255, 255, 255, 0.5);
}
.selected {
    background-color: black;
}

.error {
    color: red;
    font-size: 0.8rem;
}