@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body {
    font-family:"Poppins";
    background: #ddd;
    color: #1d1f20;
    margin:40px auto;
    max-width:80%;
    line-height:1.6;
    font-size:18px;
    padding:0 10px;
}

@media (max-width: 800px) {
    body {
        max-width:97%;
    }
}

body * {
    font-family:"Poppins";
    line-height:1.2;
    color:#333;
}

h1,h2,h3{line-height:1.2;}

.title {
    text-align: center;
}

table {
    border-spacing: 1px;
}

textarea {
    font-size: 1rem;
    width: 100%;
    height: 150px;
}

#grid {
    position: absolute;
    display: block;
}

#grid-overlay {
    position: relative;
    border: 2px solid black;
    display: inline-block;
}

#presets * {
    font-size: 0.8em;
    margin: 0.3em;
    padding: 0.3em;
}

.hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.unselected {
    background-color: rgba(255, 255, 255, 0.5);
}
.selected {
    background-color: black;
}

.error {
    color: red;
    font-size: 0.8rem;
}

/*** MODIFICATIONS */

/* List */
ol.gradient-list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
}
ol.gradient-list > li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
}
ol.gradient-list > li::before, ol.gradient-list > li::after {
    background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
    border-radius: 1rem 1rem 0 1rem;
    content: '';
    height: 3rem;
    left: -1rem;
    overflow: hidden;
    position: absolute;
    top: -1rem;
    width: 3rem;
}
ol.gradient-list > li::before {
    align-items: flex-end;
    content: counter(gradient-counter);
    color: #1d1f20;
    display: flex;
    font: 900 1.5em/1 'Poppins';
    justify-content: flex-end;
    padding: 0.125em 0.25em;
    z-index: 1;
}
ol.gradient-list > li:nth-child(10n+1):before {
    background: linear-gradient(135deg, rgba(162, 237, 86, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
}
ol.gradient-list > li:nth-child(10n+2):before {
    background: linear-gradient(135deg, rgba(162, 237, 86, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
}
ol.gradient-list > li:nth-child(10n+3):before {
    background: linear-gradient(135deg, rgba(162, 237, 86, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
}
ol.gradient-list > li:nth-child(10n+4):before {
    background: linear-gradient(135deg, rgba(162, 237, 86, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
}


/* Buttons */

button {
  align-items: center;
  background-color: rgba(162, 237, 86, 0.95);
  border: 1px solid #777;
  border-radius: 8px;
  box-sizing: border-box;
  color: #1d1f20;
  font-weight: bold;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  min-width: 50px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

button:hover:after {
  transform: translate(0, 0);
}

button:active {
  background-color: #ffdeda;
  outline: 0;
}

button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  button {
    padding: 0 40px;
  }
}

/* Textarea */
